/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis {
	@include ellipsis();
}
@mixin ellipsys-2-lines() {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
	overflow: hidden;
}
@mixin ellipsys-3-lines() {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical; 
	overflow: hidden;
}
@import "theme/fonts.scss";

$main-green: #0c9197;
$main-grey: #edeef0;
$main-border-grey: #dbdbdb;

ion-header {
	ion-toolbar {
		--background: $main-green;
		background: $main-green; 
	}
}
ion-title {
	--color: #fff;
}
ion-button {
	&.as-header-icon {
		ion-img {
			height: 100%;
		}
		&.menu {
			ion-img {
				width: 26px;
			}
		}
		&.sorter {
			--color: #fff;
		}
	}
}
ion-menu-button {
	--color: #fff;
}
.menu-logo {
	height: calc(260px * 304 / 475);
	background-image: url(assets/images/menu-logo.png);
	background-size: auto 120px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
}
ion-menu {
	ion-content {
		--background: $main-green;
		background: $main-green;
		ion-list {
			--ion-item-background: transparent;
			ion-item {
				--padding-start: 0;
				--color: #fff;
				--inner-border-width: 0 0 2px 0;
				ion-label {
					padding-left: 60px;
					background-size: auto 25px;
					background-repeat: no-repeat;
					background-position: 20px 50%;
					margin: 0;
					min-height: 44px;
					line-height: 44px;
				}
				&.menu-1 {
					ion-label {
						background-image: url(assets/images/menu-1.png);
					}
				}
				&.menu-2 {
					ion-label {
						background-image: url(assets/images/menu-2.png);
					}
				}
				&.menu-3 {
					ion-label {
						background-image: url(assets/images/menu-3.png);
					}
				}
				&.menu-4 {
					ion-label {
						background-image: url(assets/images/menu-4.png);
					}
				}
				&.menu-5 {
					ion-label {
						background-image: url(assets/images/menu-5.png);
					}
				}
			}
		}
	}
	ion-footer {
		--border: none;
		ion-toolbar {
			--border-width: 0 !important;
			--background: $main-green;
			background: $main-green;
			text-align: center;
			color: #fff;
		}
	}
}
.empty-with-btn {
	text-align: center;
    position: absolute;
    top: calc(50% - 35px);
    left: 0;
    right: 0;
    ion-img {
    	width:  32px;
    	height:  32px;
    }
}
.base-list {
	ion-item {
		--padding-start: 0;
		ion-label {
			padding-left: 10px;
		}
	}
}
.popover-date-time {
	--min-width:  350px;
	ion-datetime {
		background: #fff;
	}
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex {
	flex: 1;
}
.edit-btn, .table-btn, .send-btn {
	ion-button {
		height: 47px;
		width: 47px;
		--padding-start: 5px;
		--padding-end: 5px;
	}
}
.faq-accordion {
	[slot="header"] {
		border-bottom:  1px solid grey;
	}
}
.report-info {
	background-color: $main-grey;
	border-bottom:  1px solid $main-border-grey;
	color: $main-green;
	text-align: center;
	padding: 6px 0;
}
.input-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	ion-input, ion-textarea {
		width: 100%;
		flex: 1;
	}
	&.has-dictionary {
		ion-button {
			width: 50px;
		}
	}
}
dictionary-page {
	ion-content {
		max-height: 200px;
	}
}
.photos-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
    height: 110px;
    padding-top: 10px;
    margin-left: -10px;
    padding-left: 10px;
	.photo {
		position: relative;
		display: inline-block;
		width: 90px;
		height: 90px;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
	    border-radius: 6px;
	    margin-right: 10px;
	    position: relative;
	    ion-button {
	    	position: absolute;
	    	z-index: 1;
	    	right: 0;
	    	top: 0;
	    	--color: green;
	    	margin-inline: 0;
		    --padding-start: 0;
		    --padding-end: 0;
		    width: 30px;
		    height: 30px;
		    background-color: rgba(#fff, 0.7);
		    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2);
		    border-radius: 8px;
		}
	}
}
ion-item {
	&.in-list {
		--padding-start: 6px;
    	--inner-padding-end: 6px;
	}
}
.photo-inline {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 5px;
}
ion-popover {
	--width: 90%;
}
.padding-left-right-button {
	padding-inline:  52px;
}
.padding-left-right2-button {
	padding-inline:  0px;
	padding-left: 52px;
	padding-right: 104px;
}